@import url(https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=PT+Mono&display=fallback);
@font-face{
    font-family:"Aspekta";
    font-weight:350;
    font-style:normal;
    font-display:fallback;
    src:url(fonts/Aspekta-350.woff2)format("woff2")
}
@font-face{
    font-family:"Aspekta";
    font-weight:400;
    font-style:normal;
    font-display:fallback;
    src:url(fonts/Aspekta-400.woff2)format("woff2")
}
@font-face{
    font-family:"Aspekta";
    font-weight:500;
    font-style:normal;
    font-display:fallback;
    src:url(fonts/Aspekta-500.woff2)format("woff2")
}
@font-face{
    font-family:"Aspekta";
    font-weight:650;
    font-style:normal;
    font-display:fallback;
    src:url(fonts/Aspekta-650.woff2)format("woff2")
}
*,::before,::after{
    box-sizing:border-box;
    border-width:0;
    border-style:solid;
    border-color:#e5e7eb
}
::before,::after{
    --tw-content: ''
}
html{
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings:normal;
    font-variation-settings:normal
}
body{
    margin:0;
    line-height:inherit;
}
hr{
    height:0;
    color:inherit;
    border-top-width:1px
}
abbr:where([title]){
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight:inherit
}
a{
    color:inherit;
    text-decoration:inherit
}
b,strong{
    font-weight:bolder
}
code,kbd,samp,pre{
    font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size:1em
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-0.25em
}
sup{
    top:-0.5em
}
table{
    text-indent:0;
    border-color:inherit;
    border-collapse:collapse
}
button,input,optgroup,select,textarea{
    font-family:inherit;
    font-size:100%;
    font-weight:inherit;
    line-height:inherit;
    color:inherit;
    margin:0;
    padding:0
}
button,select{
    text-transform:none
}
button,[type="button"],[type="reset"],[type="submit"]{
    -webkit-appearance:button;
    background-color:transparent;
    background-image:none
}
:-moz-focusring{
    outline:auto
}
:-moz-ui-invalid{
    box-shadow:none
}
progress{
    vertical-align:baseline
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    height:auto
}
[type="search"]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
summary{
    display:list-item
}
blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre{
    margin:0
}
fieldset{
    margin:0;
    padding:0
}
legend{
    padding:0
}
ol,ul,menu{
    list-style:none;
    margin:0;
    padding:0
}
textarea{
    resize:vertical
}
input::-moz-placeholder,textarea::-moz-placeholder{
    opacity:1;
    color:#9ca3af
}
input::placeholder,textarea::placeholder{
    opacity:1;
    color:#9ca3af
}
button,[role="button"]{
    cursor:pointer
}
:disabled{
    cursor:default
}
img,svg,video,canvas,audio,iframe,embed,object{
    display:block;
    vertical-align:middle
}
img,video{
    max-width:100%;
    height:auto
}
[hidden]{
    display:none
}
[type="text"],[type="email"],[type="url"],[type="password"],[type="number"],[type="date"],[type="datetime-local"],[type="month"],[type="search"],[type="tel"],[type="time"],[type="week"],[multiple],textarea,select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:#fff;
    border-color:#6b7280;
    border-width:1px;
    border-radius:0px;
    padding-top:0.5rem;
    padding-right:0.75rem;
    padding-bottom:0.5rem;
    padding-left:0.75rem;
    font-size:1rem;
    line-height:1.5rem;
    --tw-shadow: 0 0 #0000
}
[type="text"]:focus,[type="email"]:focus,[type="url"]:focus,[type="password"]:focus,[type="number"]:focus,[type="date"]:focus,[type="datetime-local"]:focus,[type="month"]:focus,[type="search"]:focus,[type="tel"]:focus,[type="time"]:focus,[type="week"]:focus,[multiple]:focus,textarea:focus,select:focus{
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-ring-inset: var(--tw-empty,
    /*!*/
    /*!*/
    );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #00000b;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #00000b
}
input::-moz-placeholder,textarea::-moz-placeholder{
    color:#6b7280;
    opacity:1
}
input::placeholder,textarea::placeholder{
    color:#6b7280;
    opacity:1
}
::-webkit-datetime-edit-fields-wrapper{
    padding:0
}
::-webkit-date-and-time-value{
    min-height:1.5em
}
::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field{
    padding-top:0;
    padding-bottom:0
}
select{
    background-position:right 0.5rem center;
    background-repeat:no-repeat;
    background-size:1.5em 1.5em;
    padding-right:2.5rem;
    -webkit-print-color-adjust:exact;
    print-color-adjust:exact
}
[multiple]{
    background-image:initial;
    background-position:initial;
    background-repeat:unset;
    background-size:initial;
    padding-right:0.75rem;
    -webkit-print-color-adjust:unset;
    print-color-adjust:unset
}
[type="checkbox"],[type="radio"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding:0;
    -webkit-print-color-adjust:exact;
    print-color-adjust:exact;
    display:inline-block;
    vertical-align:middle;
    background-origin:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    flex-shrink:0;
    height:1rem;
    width:1rem;
    color: #00000b;
    background-color:#fff;
    border-color:#6b7280;
    border-width:1px;
    --tw-shadow: 0 0 #0000
}
[type="checkbox"]{
    border-radius:0px
}
[type="radio"]{
    border-radius:100%
}
[type="checkbox"]:focus,[type="radio"]:focus{
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-ring-inset: var(--tw-empty,
    /*!*/
    /*!*/
    );
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #00000b;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}
[type="checkbox"]:checked,[type="radio"]:checked{
    border-color:transparent;
    background-color:currentColor;
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat
}
[type="checkbox"]:checked{
    background-image:url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e)
}
[type="radio"]:checked{
    background-image:url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e)
}
[type="checkbox"]:checked:hover,[type="checkbox"]:checked:focus,[type="radio"]:checked:hover,[type="radio"]:checked:focus{
    border-color:transparent;
    background-color:currentColor
}
[type="checkbox"]:indeterminate{
    background-image:url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
    border-color:transparent;
    background-color:currentColor;
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat
}
[type="checkbox"]:indeterminate:hover,[type="checkbox"]:indeterminate:focus{
    border-color:transparent;
    background-color:currentColor
}
[type="file"]{
    background:unset;
    border-color:inherit;
    border-width:0;
    border-radius:0;
    padding:0;
    font-size:unset;
    line-height:inherit
}
[type="file"]:focus{
    outline:1px solid ButtonText;
    outline:1px auto -webkit-focus-ring-color
}
*,::before,::after{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(0, 0, 11);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}
::backdrop{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}
.clxpf{
    width:100%
}
@media (min-width:640px){
    .clxpf{
        max-width:640px
    }
}
@media (min-width:768px){
    .clxpf{
        max-width:768px
    }
}
@media (min-width:1024px){
    .clxpf{
        max-width:1024px
    }
}
@media (min-width:1280px){
    .clxpf{
        max-width:1280px
    }
}
@media (min-width:1536px){
    .clxpf{
        max-width:1536px
    }
}
.cacmx,.c0iac,.chhu3,.c9uzs{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:#fff;
    border-color:#6b7280;
    border-width:1px;
    border-radius:0px;
    padding-top:0.5rem;
    padding-right:0.75rem;
    padding-bottom:0.5rem;
    padding-left:0.75rem;
    font-size:1rem;
    line-height:1.5rem;
    --tw-shadow: 0 0 #0000
}
.cacmx:focus,.c0iac:focus,.chhu3:focus,.c9uzs:focus{
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-ring-inset: var(--tw-empty,
    /*!*/
    /*!*/
    );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #00000b;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #00000b
}
.cacmx::-moz-placeholder,.c0iac::-moz-placeholder{
    color:#6b7280;
    opacity:1
}
.cacmx::placeholder,.c0iac::placeholder{
    color:#6b7280;
    opacity:1
}
.cacmx::-webkit-datetime-edit-fields-wrapper{
    padding:0
}
.cacmx::-webkit-date-and-time-value{
    min-height:1.5em
}
.cacmx::-webkit-datetime-edit,.cacmx::-webkit-datetime-edit-year-field,.cacmx::-webkit-datetime-edit-month-field,.cacmx::-webkit-datetime-edit-day-field,.cacmx::-webkit-datetime-edit-hour-field,.cacmx::-webkit-datetime-edit-minute-field,.cacmx::-webkit-datetime-edit-second-field,.cacmx::-webkit-datetime-edit-millisecond-field,.cacmx::-webkit-datetime-edit-meridiem-field{
    padding-top:0;
    padding-bottom:0
}
.chhu3{
    background-position:right 0.5rem center;
    background-repeat:no-repeat;
    background-size:1.5em 1.5em;
    padding-right:2.5rem;
    -webkit-print-color-adjust:exact;
    print-color-adjust:exact
}
.cs1bn,.cbxvn{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding:0;
    -webkit-print-color-adjust:exact;
    print-color-adjust:exact;
    display:inline-block;
    vertical-align:middle;
    background-origin:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    flex-shrink:0;
    height:1rem;
    width:1rem;
    color: #00000b;
    background-color:#fff;
    border-color:#6b7280;
    border-width:1px;
    --tw-shadow: 0 0 #0000
}
.cs1bn{
    border-radius:0px
}
.cbxvn{
    border-radius:100%
}
.cs1bn:focus,.cbxvn:focus{
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-ring-inset: var(--tw-empty,
    /*!*/
    /*!*/
    );
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #00000b;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}
.cs1bn:checked,.cbxvn:checked{
    border-color:transparent;
    background-color:currentColor;
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat
}
.cs1bn:checked:hover,.cs1bn:checked:focus,.cbxvn:checked:hover,.cbxvn:checked:focus{
    border-color:transparent;
    background-color:currentColor
}
.cs1bn:indeterminate{
    border-color:transparent;
    background-color:currentColor;
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat
}
.cs1bn:indeterminate:hover,.cs1bn:indeterminate:focus{
    border-color:transparent;
    background-color:currentColor
}
.c6a3y{
    font-size:3rem;
    line-height:1;
    letter-spacing:-0.01em;
    font-weight:650
}
.cawlm{
    font-size:2.25rem;
    line-height:1.1;
    letter-spacing:-0.01em;
    font-weight:650
}
.cqm4e{
    font-size:1.875rem;
    line-height:1.333;
    letter-spacing:-0.01em;
    font-weight:650
}
.cg131{
    font-size:1.5rem;
    line-height:1.415;
    letter-spacing:-0.01em;
    font-weight:650
}
@media (min-width:768px){
    .c6a3y{
        font-size:3.75rem;
        line-height:1;
        letter-spacing:-0.01em
    }
    .cawlm{
        font-size:3rem;
        line-height:1;
        letter-spacing:-0.01em
    }
    .cqm4e{
        font-size:2.25rem;
        line-height:1.1;
        letter-spacing:-0.01em
    }
}
.cq7hd,.co4g9{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    white-space:nowrap;
    border-radius:9999px;
    font-size:0.875rem;
    line-height:1.5715;
    font-weight:500;
    line-height:1.25rem;
    transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-duration:150ms;
    transition-timing-function:cubic-bezier(0.4,0,0.2,1)
}
.cq7hd{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:0.625rem;
    padding-bottom:0.625rem
}
.co4g9{
    padding-left:0.75rem;
    padding-right:0.75rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{
    -webkit-appearance:none
}
.cacmx,.c0iac,.c9uzs,.chhu3,.cs1bn,.cbxvn{
    border-width:1px;
    --tw-border-opacity: 1;
    border-color:rgb(226 232 240/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255/var(--tw-bg-opacity))
}
.cacmx:focus,.c0iac:focus,.c9uzs:focus,.chhu3:focus,.cs1bn:focus,.cbxvn:focus{
    --tw-border-opacity: 1;
    border-color:rgb(59 130 246/var(--tw-border-opacity))
}
.cacmx,.c0iac,.c9uzs,.chhu3,.cs1bn{
    border-radius:0.25rem
}
.cacmx,.c0iac,.c9uzs,.chhu3{
    padding-left:0.75rem;
    padding-right:0.75rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    font-size:0.875rem;
    line-height:1.5715
}
.cacmx::-moz-placeholder,.c0iac::-moz-placeholder{
    --tw-placeholder-opacity: 1;
    color:rgb(148 163 184/var(--tw-placeholder-opacity))
}
.cacmx::placeholder,.c0iac::placeholder{
    --tw-placeholder-opacity: 1;
    color:rgb(148 163 184/var(--tw-placeholder-opacity))
}
.chhu3{
    padding-right:2.5rem
}
.cs1bn,.cbxvn{
    border-radius:0.125rem;
    border-width:2px;
    --tw-text-opacity: 1;
    color:rgb(59 130 246/var(--tw-text-opacity))
}
.c9lju::-webkit-scrollbar{
    display:none
}
.c9lju{
    -ms-overflow-style:none;
    scrollbar-width:none
}
:root{
    --range-thumb-size: 36px
}
input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:#ccc;
    border-radius:3px;
    height:6px;
    margin-top:(--range-thumb-size - 6px)*0.5;
    margin-bottom:(--range-thumb-size - 6px)*0.5;
    --thumb-size: #{
        --range-thumb-size
    }
}
input[type=range]::-webkit-slider-thumb{
    appearance:none;
    -webkit-appearance:none;
    background-color:#000;
    background-position:center;
    background-repeat:no-repeat;
    border:0;
    border-radius:50%;
    cursor:pointer;
    height:--range-thumb-size;
    width:--range-thumb-size
}
input[type=range]::-moz-range-thumb{
    background-color:#000;
    background-position:center;
    background-repeat:no-repeat;
    border:0;
    border:none;
    border-radius:50%;
    cursor:pointer;
    height:--range-thumb-size;
    width:--range-thumb-size
}
input[type=range]::-ms-thumb{
    background-color:#000;
    background-position:center;
    background-repeat:no-repeat;
    border:0;
    border-radius:50%;
    cursor:pointer;
    height:--range-thumb-size;
    width:--range-thumb-size
}
input[type=range]::-moz-focus-outer{
    border:0
}
.cf4po{
    position:relative;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    width:44px
}
.cf4po label{
    display:block;
    height:1.5rem;
    cursor:pointer;
    overflow:hidden;
    border-radius:9999px
}
.cf4po label>span:first-child{
    position:absolute;
    display:block;
    border-radius:9999px;
    width:20px;
    height:20px;
    top:2px;
    left:2px;
    right:50%;
    transition:all .15s ease-out
}
.cf4po input[type="checkbox"]:checked+label{
    --tw-bg-opacity: 1;
    background-color:rgb(59 130 246/var(--tw-bg-opacity))
}
.cf4po input[type="checkbox"]:checked+label>span:first-child{
    left:22px
}
.cf4po input[type="checkbox"]:disabled+label{
    cursor:not-allowed;
    border-width:1px;
    --tw-border-opacity: 1;
    border-color:rgb(226 232 240/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color:rgb(241 245 249/var(--tw-bg-opacity))
}
.cf4po input[type="checkbox"]:disabled+label>span:first-child{
    --tw-bg-opacity: 1;
    background-color:rgb(148 163 184/var(--tw-bg-opacity))
}
.cacmx:focus:focus,.c0iac:focus:focus,.c9uzs:focus:focus,.chhu3:focus:focus,.cs1bn:focus:focus,.cbxvn:focus:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(191 219 254 / var(--tw-ring-opacity))
}
.cs1bn:focus:focus,.cbxvn:focus:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}
.c4scx svg>*:nth-child(1),.c4scx svg>*:nth-child(2),.c4scx svg>*:nth-child(3){
    transform-origin:center;
    transform:rotate(0deg)
}
.c4scx svg>*:nth-child(1){
    transition:y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),opacity 0.1s ease-in
}
.c4scx svg>*:nth-child(2){
    transition:transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19)
}
.c4scx svg>*:nth-child(3){
    transition:y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),width 0.1s 0.25s ease-in
}
.c4scx.caxmm svg>*:nth-child(1){
    opacity:0;
    y:11;
    transform:rotate(225deg);
    transition:y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),opacity 0.1s 0.12s ease-out
}
.c4scx.caxmm svg>*:nth-child(2){
    transform:rotate(225deg);
    transition:transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1)
}
.c4scx.caxmm svg>*:nth-child(3){
    y:11;
    transform:rotate(135deg);
    transition:y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),width 0.1s ease-out
}
[data-scrollspy-link]{
    font-weight:400;
    --tw-text-opacity: 1;
    color:rgb(71 85 105/var(--tw-text-opacity))
}
:is(.dark [data-scrollspy-link]){
    --tw-text-opacity: 1;
        color: black/var(--tw-text-opacity))
}
[data-scrollspy-link].scrollspy-active{
    font-weight:500;
    --tw-text-opacity: 1;
    color:rgb(37 99 235/var(--tw-text-opacity))
}
[data-scrollspy-link].scrollspy-active::before{
    content:var(--tw-content);
    --tw-bg-opacity: 1;
    background-color:rgb(96 165 250/var(--tw-bg-opacity))
}
.ceq6q{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border-width:0
}
.ca9p5{
    pointer-events:none
}
.co2l5{
    visibility:visible
}
.c9bxx{
    visibility:collapse
}
.cgs8z{
    position:fixed
}
.c0w53{
    position:absolute
}
.c8f9i{
    position:relative
}
.cbs5y{
    inset:0px
}
.ce9z4{
    left:-9999px
}
.chsoc{
    bottom:0px
}
.ccfw6{
    left:0px
}
.cnvvs{
    left:50%
}
.cmjxz{
    top:0px
}
.cojs9{
    top:5rem
}
.c48ui{
    z-index:-10
}
.cjoz3{
    z-index:10
}
.c2owd{
    z-index:30
}
.cfo5r{
    z-index:50
}
.cya7q{
    margin-left:0.5rem;
    margin-right:0.5rem
}
.cplla{
    margin-left:auto;
    margin-right:auto
}
.c1ty8{
    margin-top:0.5rem;
    margin-bottom:0.5rem
}
.cy5eu{
    margin-bottom:0.25rem
}
.ckzml{
    margin-bottom:3rem
}
.c5sr6{
    margin-bottom:0.5rem
}
.cqsvj{
    margin-bottom:0.75rem
}
.cldjl{
    margin-bottom:1rem
}
.cytlw{
    margin-bottom:1.5rem
}
.cxzdu{
    margin-bottom:2rem
}
.cibcq{
    margin-left:0.25rem
}
.cfgpa{
    margin-left:0.5rem
}
.c54fe{
    margin-left:0.75rem
}
.cdaz4{
    margin-left:1rem
}
.cfbc5{
    margin-left:auto
}
.c2fk0{
    margin-right:0.5rem
}
.cfzzb{
    margin-right:0.75rem
}
.cdzx2{
    margin-right:1rem
}
.c3a3h{
    margin-top:0px
}
.ctmql{
    margin-top:0.25rem
}
.csgq2{
    margin-top:0.5rem
}
.cj15n{
    margin-top:0.75rem
}
.cld92{
    margin-top:1rem
}
.clofb{
    margin-top:2rem
}
.cifcz{
    display:block
}
.cgnfn{
    display:inline
}
.cksrg{
    display:flex
}
.c04hf{
    display:inline-flex
}
.c4oab{
    display:table
}
.c6ye6{
    display:grid
}
.cb4ta{
    display:none
}
.cjlrm{
    aspect-ratio:16/9
}
.crcm2{
    height:4rem
}
.c76qq{
    height:6rem
}
.c5zb9{
    height:0.75rem
}
.cm64m{
    height:1rem
}
.cnkpj{
    height:1.25rem
}
.cbvoe{
    height:1.5rem
}
.c0zj9{
    height:2rem
}
.cdn1j{
    height:calc(100vh - 5rem)
}
.cgwlq{
    height:100vh
}
.c19ui{
    max-height:100%
}
.c60c0{
    min-height:100vh
}
.co6po{
    width:4rem
}
.cn3d1{
    width:0.75rem
}
.c34ot{
    width:1rem
}
.cmfv9{
    width:12rem
}
.cw643{
    width:1.25rem
}
.c9f80{
    width:1.5rem
}
.crlg4{
    width:16rem
}
.c0a4p{
    width:2rem
}
.ctpgh{
    width:100%
}
.c3b70{
    min-width:0px
}
.chl96{
    max-width:42rem
}
.ctgvp{
    max-width:56rem
}
.cx25z{
    max-width:80rem
}
.ccq5n{
    max-width:28rem
}
.cm7rh{
    max-width:none
}
.ctbmr{
    max-width:36rem
}
.cyg2g{
    flex-shrink:0
}
.c8qw9{
    flex-grow:1
}
.cs5aq{
    table-layout:auto
}
.cretk{
    --tw-translate-x: -50%;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cgfj5{
    --tw-translate-x: -100%;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cn5oq{
    --tw-translate-x: 0px;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.c8cfp{
    --tw-translate-y: 0px;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cznkk{
    --tw-translate-y: 1rem;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cwi57{
    --tw-rotate: 180deg;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.clbvd{
    --tw-rotate: 90deg;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.c9bgk{
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cjsrf{
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cf48s{
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.ckkv6{
    cursor:pointer
}
.cxq5p{
    scroll-margin-top:6rem
}
.cuujh{
    list-style-position:inside
}
.c2a2v{
    list-style-type:disc
}
.cxdd5{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.cig0d{
    grid-template-columns:repeat(1,minmax(0,1fr))
}
.cebx4{
    grid-template-columns:repeat(2,minmax(0,1fr))
}
.cm613{
    flex-direction:column
}
.c9orx{
    flex-wrap:wrap
}
.ccvri{
    align-items:flex-start
}
.cr4zl{
    align-items:flex-end
}
.cd2pc{
    align-items:center
}
.cfskg{
    justify-content:flex-end
}
.cgm8l{
    justify-content:center
}
.c8tii{
    justify-content:space-between
}
.cgjf6{
    gap:1.5rem
}
.c3y8o>:not([hidden])~:not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right:calc(0.5rem*var(--tw-space-x-reverse));
    margin-left:calc(0.5rem*calc(1 - var(--tw-space-x-reverse)))
}
.ci4tc>:not([hidden])~:not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right:calc(0.75rem*var(--tw-space-x-reverse));
    margin-left:calc(0.75rem*calc(1 - var(--tw-space-x-reverse)))
}
.cwcsk>:not([hidden])~:not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right:calc(1rem*var(--tw-space-x-reverse));
    margin-left:calc(1rem*calc(1 - var(--tw-space-x-reverse)))
}
.cx9kl>:not([hidden])~:not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right:calc(1.5rem*var(--tw-space-x-reverse));
    margin-left:calc(1.5rem*calc(1 - var(--tw-space-x-reverse)))
}
.clrix>:not([hidden])~:not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top:calc(0.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom:calc(0.5rem*var(--tw-space-y-reverse))
}
.cpxfi>:not([hidden])~:not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top:calc(0.75rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom:calc(0.75rem*var(--tw-space-y-reverse))
}
.crgt4>:not([hidden])~:not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top:calc(1rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom:calc(1rem*var(--tw-space-y-reverse))
}
.cifg7>:not([hidden])~:not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top:calc(1.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom:calc(1.5rem*var(--tw-space-y-reverse))
}
.c92zf>:not([hidden])~:not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top:calc(2rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom:calc(2rem*var(--tw-space-y-reverse))
}
.cjv3j>:not([hidden])~:not([hidden]){
    --tw-divide-y-reverse: 0;
    border-top-width:calc(1px*calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width:calc(1px*var(--tw-divide-y-reverse))
}
.cqu84{
    overflow:auto
}
.cvw0w{
    overflow:hidden
}
.c1973{
    overflow-x:auto
}
.cm8ed{
    overflow-y:auto
}
.cbzka{
    scroll-behavior:smooth
}
.cm5dy{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.c4v7m{
    white-space:nowrap
}
.ct15l{
    border-radius:0.25rem
}
.c9r0k{
    border-radius:0.375rem
}
.ctykb{
    border-width:1px
}
.ctew2{
    border-width:0px
}
.coskv{
    border-width:2px
}
.c5qgg{
    border-bottom-width:1px
}
.coqm3{
    border-bottom-width:2px
}
.cy1q3{
    border-left-width:1px
}
.csz5r{
    border-right-width:1px
}
.ctjfq{
    border-top-width:1px
}
.cbn2g{
    --tw-border-opacity: 1;
    border-color:rgb(229 231 235/var(--tw-border-opacity))
}
.cmxlt{
    --tw-border-opacity: 1;
    border-color:rgb(209 213 219/var(--tw-border-opacity))
}
.cuc78{
    --tw-border-opacity: 1;
    border-color:rgb(226 232 240/var(--tw-border-opacity))
}
.cxuk4{
    --tw-border-opacity: 1;
    border-color:rgb(51 65 85/var(--tw-border-opacity))
}
.cki94{
    border-color:transparent
}
.cnydw{
    --tw-bg-opacity: 1;
    background-color:rgb(59 130 246/var(--tw-bg-opacity))
}
.cl3i7{
    --tw-bg-opacity: 1;
    background-color:rgb(37 99 235/var(--tw-bg-opacity))
}
.c7xez{
    --tw-bg-opacity: 1;
    background-color:rgb(243 244 246/var(--tw-bg-opacity))
}
.c7sc6{
    --tw-bg-opacity: 1;
    background-color:rgb(229 231 235/var(--tw-bg-opacity))
}
.cpe18{
    --tw-bg-opacity: 1;
    background-color:rgb(168 85 247/var(--tw-bg-opacity))
}
.c86fq{
    --tw-bg-opacity: 1;
    background-color:rgb(244 63 94/var(--tw-bg-opacity))
}
.clnia{
    --tw-bg-opacity: 1;
    background-color:rgb(248 250 252/var(--tw-bg-opacity))
}
.cz31l{
    --tw-bg-opacity: 1;
    background-color:rgb(30 41 59/var(--tw-bg-opacity))
}
.ckni4{
    --tw-bg-opacity: 1;
    background-color:rgb(15 23 42/var(--tw-bg-opacity))
}
.chkbz{
    --tw-bg-opacity: 1;
    background-color:rgb(20 184 166/var(--tw-bg-opacity))
}
.ciyk3{
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255/var(--tw-bg-opacity))
}
.c9t5v{
    --tw-bg-opacity: 0.2
}
.cmwsy{
    --tw-bg-opacity: 0.25
}
.cd7dv{
    --tw-bg-opacity: 0.7
}
.ce77x{
    background-image:linear-gradient(to bottom,var(--tw-gradient-stops))
}
.cm1ah{
    --tw-gradient-from: #f8fafc var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(248 250 252 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}
.cisld{
    --tw-gradient-to: #fff var(--tw-gradient-to-position)
}
.cwbda{
    fill:#60a5fa
}
.celvg{
    fill:#3b82f6
}
.cpt26{
    fill:#2563eb
}
.chvft{
    fill:currentColor
}
.c4yoo{
    fill:#c084fc
}
.c4s14{
    fill:#a855f7
}
.cqink{
    fill:#9333ea
}
.c7jng{
    fill:#38bdf8
}
.c33ql{
    fill:#0284c7
}
.cx9vk{
    fill:#94a3b8
}
.chjca{
    fill:#64748b
}
.c1vkn{
    fill:#475569
}
.c18rc{
    fill:#14b8a6
}
.cjtfl{
    fill:#fff
}
.c7fri{
    padding:0.25rem
}
.cqe1v{
    padding:0.5rem
}
.cjf95{
    padding:1rem
}
.csj29{
    padding-left:0px;
    padding-right:0px
}
.c530m{
    padding-left:0.125rem;
    padding-right:0.125rem
}
.cq68r{
    padding-left:0.25rem;
    padding-right:0.25rem
}
.c7a9e{
    padding-left:0.5rem;
    padding-right:0.5rem
}
.cc9ex{
    padding-left:1rem;
    padding-right:1rem
}
.cqu9x{
    padding-left:1.5rem;
    padding-right:1.5rem
}
.c68d1{
    padding-top:0.25rem;
    padding-bottom:0.25rem
}
.cy91i{
    padding-top:0.375rem;
    padding-bottom:0.375rem
}
.cw187{
    padding-top:3rem;
    padding-bottom:3rem
}
.cbyja{
    padding-top:0.75rem;
    padding-bottom:0.75rem
}
.ckmav{
    padding-top:1rem;
    padding-bottom:1rem
}
.c247a{
    padding-top:2rem;
    padding-bottom:2rem
}
.c0ssh{
    padding-top:7px;
    padding-bottom:7px
}
.cvt4c{
    padding-bottom:2rem
}
.c7o1s{
    padding-left:0.5rem
}
.ctaxs{
    padding-left:0.75rem
}
.cuhac{
    padding-left:1rem
}
.ccjb9{
    padding-left:1.25rem
}
.ce301{
    padding-left:1.5rem
}
.cnovj{
    padding-right:0.5rem
}
.ct7dx{
    padding-right:1rem
}
.cpwvy{
    padding-top:6rem
}
.cgjfp{
    padding-top:8rem
}
.cbd4t{
    padding-top:2rem
}
.co992{
    text-align:left
}
.c4x3u{
    text-align:center
}
.cr4sc{
    font-family:Aspekta,sans-serif
}
.c4aat{
    font-family:Nothing You Could Do,cursive
}
.cs1d1{
    font-family:PT Mono,monospace
}
.c3jpq{
    font-size:1.5rem;
    line-height:1.415;
    letter-spacing:-0.01em
}
.clcz5{
    font-size:2.25rem;
    line-height:1.1;
    letter-spacing:-0.01em
}
.cl2ix{
    font-size:15px
}
.c2uyk{
    font-size:1.125rem;
    line-height:1.5;
    letter-spacing:-0.01em
}
.c61tc{
    font-size:0.875rem;
    line-height:1.5715
}
.ccmpn{
    font-size:1.25rem;
    line-height:1.5;
    letter-spacing:-0.01em
}
.ckxhs{
    font-size:0.75rem;
    line-height:1.5
}
.cns0p{
    font-weight:350
}
.ci20y{
    font-weight:650
}
.cmfkd{
    font-weight:700
}
.cbj28{
    font-weight:500
}
.cyrdu{
    font-weight:400
}
.clvqt{
    text-transform:uppercase
}
.co2i4{
    line-height:1.25rem
}
.cefuw{
    line-height:1.5rem
}
.cyobs{
    --tw-text-opacity: 1;
    color:rgb(0 0 0/var(--tw-text-opacity))
}
.c3yvh{
    --tw-text-opacity: 1;
    color:rgb(59 130 246/var(--tw-text-opacity))
}
.cj4m6{
    --tw-text-opacity: 1;
    color:rgb(37 99 235/var(--tw-text-opacity))
}
.ch8t5{
    --tw-text-opacity: 1;
    color:rgb(107 114 128/var(--tw-text-opacity))
}
.cpesy{
    --tw-text-opacity: 1;
    color:rgb(75 85 99/var(--tw-text-opacity))
}
.cn4gu{
    --tw-text-opacity: 1;
    color:rgb(55 65 81/var(--tw-text-opacity))
}
.cxi4b{
    --tw-text-opacity: 1;
    color:rgb(17 24 39/var(--tw-text-opacity))
}
.c2bt2{
    --tw-text-opacity: 1;
    color:rgb(79 70 229/var(--tw-text-opacity))
}
.c7hqs{
    --tw-text-opacity: 1;
    color:rgb(168 85 247/var(--tw-text-opacity))
}
.cnkl1{
    --tw-text-opacity: 1;
    color:rgb(147 51 234/var(--tw-text-opacity))
}
.cjmcy{
    --tw-text-opacity: 1;
    color:rgb(251 113 133/var(--tw-text-opacity))
}
.cew8r{
    --tw-text-opacity: 1;
    color:rgb(244 63 94/var(--tw-text-opacity))
}
.ci88e{
    --tw-text-opacity: 1;
    color:rgb(2 132 199/var(--tw-text-opacity))
}
.c62tx{
    --tw-text-opacity: 1;
    color:rgb(241 245 249/var(--tw-text-opacity))
}
.ckxjw{
    --tw-text-opacity: 1;
    color:rgb(226 232 240/var(--tw-text-opacity))
}
.cqusc{
    --tw-text-opacity: 1;
    color:rgb(148 163 184/var(--tw-text-opacity))
}
.c6hvh{
    --tw-text-opacity: 1;
    color:rgb(100 116 139/var(--tw-text-opacity))
}
.c95i9{
    --tw-text-opacity: 1;
    color:rgb(71 85 105/var(--tw-text-opacity))
}
.cdujf{
    --tw-text-opacity: 1;
    color:rgb(30 41 59/var(--tw-text-opacity))
}
.c7yu4{
    --tw-text-opacity: 1;
    color:rgb(20 184 166/var(--tw-text-opacity))
}
.c3xpa{
    --tw-text-opacity: 1;
    color:rgb(13 148 136/var(--tw-text-opacity))
}
.c8sob{
    --tw-text-opacity: 1;
    color:rgb(255 255 255/var(--tw-text-opacity))
}
.cmgwe{
    text-decoration-line:underline
}
.crjda{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.c5rnk::-moz-placeholder{
    --tw-placeholder-opacity: 1;
    color:rgb(148 163 184/var(--tw-placeholder-opacity))
}
.c5rnk::placeholder{
    --tw-placeholder-opacity: 1;
    color:rgb(148 163 184/var(--tw-placeholder-opacity))
}
.cwke3{
    opacity:0
}
.crm3f{
    opacity:1
}
.c23m4{
    opacity:0.3
}
.cx593{
    opacity:0.8
}
.ci068{
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}
.co6bs{
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}
.c8dj4{
    outline:2px solid transparent;
    outline-offset:2px
}
.czube{
    filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.cgjow{
    --tw-backdrop-blur: blur(8px);
    -webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.c1m7j{
    transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function:cubic-bezier(0.4,0,0.2,1);
    transition-duration:150ms
}
.c2c4j{
    transition-property:opacity;
    transition-timing-function:cubic-bezier(0.4,0,0.2,1);
    transition-duration:150ms
}
.cwn59{
    transition-duration:100ms
}
.cf4um{
    transition-duration:150ms
}
.c8lue{
    transition-duration:200ms
}
.c8n89{
    transition-timing-function:cubic-bezier(0.4,0,0.2,1)
}
.cj3i9{
    transition-timing-function:cubic-bezier(0,0,0.2,1)
}
[x-cloak=""]{
    display:none
}
.cwgkq::before{
    content:var(--tw-content);
    pointer-events:none
}
.c7t8u::before{
    content:var(--tw-content);
    position:absolute
}
.cus8p::before{
    content:var(--tw-content);
    inset:0px
}
.c3x91::before{
    content:var(--tw-content);
    left:-1px
}
.ckunh::before{
    content:var(--tw-content);
    bottom:0.5rem
}
.cak8f::before{
    content:var(--tw-content);
    top:0.5rem
}
.c1l48::before{
    content:var(--tw-content);
    z-index:-10
}
.cyf3w::before{
    content:var(--tw-content);
    display:none
}
.cevei::before{
    content:var(--tw-content);
    width:0px
}
.c7mr8::before{
    content:var(--tw-content);
    width:0.125rem
}
.ctbm4::before{
    content:var(--tw-content);
    border-radius:0.25rem
}
.cwkgq::before{
    content:var(--tw-content);
    background-image:linear-gradient(to top right,var(--tw-gradient-stops))
}
.cvpyy::before{
    content:var(--tw-content);
    --tw-gradient-from: #00000b var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(96 165 250 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}
.cvp40::before{
    content:var(--tw-content);
    --tw-gradient-to: #a855f7 var(--tw-gradient-to-position)
}
.cuuqh::before{
    content:var(--tw-content);
    opacity:0.2
}
.c9w5p:first-child{
    padding-left:0px
}
.chhmm:last-child{
    padding-right:0px
}
.cxlc6:focus-within{
    --tw-bg-opacity: 1;
    background-color:rgb(241 245 249/var(--tw-bg-opacity))
}
.cfnu3:hover{
    --tw-border-opacity: 1;
    border-color:rgb(203 213 225/var(--tw-border-opacity))
}
.c1ukg:hover{
    --tw-bg-opacity: 1;
    background-color:rgb(29 78 216/var(--tw-bg-opacity))
}
.ccc5k:hover{
    --tw-bg-opacity: 1;
    background-color:rgb(241 245 249/var(--tw-bg-opacity))
}
.c4qeo:hover{
    --tw-text-opacity: 1;
    color:rgb(37 99 235/var(--tw-text-opacity))
}
.chmzs:hover{
    text-decoration-line:underline
}
.cgiat:focus{
    --tw-border-opacity: 1;
    border-color:rgb(0 0 0/var(--tw-border-opacity))
}
.corur:focus{
    --tw-border-opacity: 1;
    border-color:rgb(209 213 219/var(--tw-border-opacity))
}
.cjl0q:focus{
    --tw-border-opacity: 1;
    border-color:rgb(107 114 128/var(--tw-border-opacity))
}
.cgou0:focus{
    --tw-border-opacity: 1;
    border-color:rgb(165 180 252/var(--tw-border-opacity))
}
.cbacs:focus{
    border-color:transparent
}
.c7nf8:focus{
    --tw-bg-opacity: 1;
    background-color:rgb(229 231 235/var(--tw-bg-opacity))
}
.c9kkz:focus{
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255/var(--tw-bg-opacity))
}
.cuhaz:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}
.c8ac5:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}
.cny3o:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}
.cayn1:focus{
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}
.cejbo:focus{
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}
.chlj0:focus{
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}
.cb68x:focus{
    --tw-ring-color: transparent
}
.cxdmu:focus{
    --tw-ring-opacity: 0.5
}
.cysnt:focus{
    --tw-ring-offset-width: 0px
}
.ckszb:focus{
    --tw-ring-offset-width: 2px
}
.chv75:hover .cx3qv{
    opacity:1
}
:is(.dark .cwixk){
    display:block
}
:is(.dark .cqhlx){
    display:none
}
:is(.dark .c0whv){
    --tw-border-opacity: 1;
    border-color:rgb(71 85 105/var(--tw-border-opacity))
}
:is(.dark .ct8ca){
    --tw-border-opacity: 1;
    border-color:rgb(51 65 85/var(--tw-border-opacity))
}
:is(.dark .cvlul){
    --tw-border-opacity: 1;
    border-color:rgb(30 41 59/var(--tw-border-opacity))
}
:is(.dark .c6ftf){
    --tw-bg-opacity: 1;
    background-color: black
}
:is(.dark .cy3ow){
    --tw-bg-opacity: 1;
    background-color: black;
}
:is(.dark .c22mi){
    --tw-bg-opacity: 1;
    background-color:rgb(15 23 42/var(--tw-bg-opacity))
}
:is(.dark .c8qqu){
    fill:#94a3b8
}
:is(.dark .cnug6){
    fill:#64748b
}
:is(.dark .c8myu){
    fill:black
}
:is(.dark .czg3k){
    --tw-text-opacity: 1;
    color:rgb(226 232 240/var(--tw-text-opacity))
}
:is(.dark .cw92p){
    --tw-text-opacity: 1;
    color:rgb(148 163 184/var(--tw-text-opacity))
}
:is(.dark .cnsh9){
    --tw-text-opacity: 1;
    color:black
}
:is(.dark .c45k2)::-moz-placeholder{
    --tw-text-opacity: 1;
    color:black
}
:is(.dark .c45k2)::placeholder{
    --tw-text-opacity: 1;
    color:black
}
:is(.dark .csuw0:focus-within){
    --tw-bg-opacity: 1;
    background-color:black
}
:is(.dark .cdixc:hover){
    --tw-border-opacity: 1;
    border-color:black

}
:is(.dark .cafvr:hover){
    --tw-bg-opacity: 1;
    background-color:black
}
@media (min-width:640px){
    .cxmi1{
        display:inline
    }
    .clhlw{
        display:flex
    }
    .cqh0c{
        height:5rem
    }
    .cyx9i{
        width:50%
    }
    .crig0{
        width:5rem
    }
    .cd8s4{
        width:380px
    }
    .ckkm4>:not([hidden])~:not([hidden]){
        --tw-space-x-reverse: 0;
        margin-right:calc(1rem*var(--tw-space-x-reverse));
        margin-left:calc(1rem*calc(1 - var(--tw-space-x-reverse)))
    }
    .csb5r>:not([hidden])~:not([hidden]){
        --tw-space-y-reverse: 0;
        margin-top:calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom:calc(0px*var(--tw-space-y-reverse))
    }
    .cresr{
        padding-left:1.5rem;
        padding-right:1.5rem
    }
}
@media (min-width:768px){
    .cu359{
        left:auto
    }
    .cfeyp{
        top:7rem
    }
    .cqad6{
        margin-bottom:0px
    }
    .coouc{
        margin-bottom:4rem
    }
    .cs1dx{
        margin-left:2rem
    }
    .cc0sg{
        display:block!important
    }
    .cosln{
        display:block
    }
    .cdcnn{
        display:none
    }
    .czj0t{
        height:5rem
    }
    .ci66y{
        max-width:56rem
    }
    .cfcb5{
        flex-shrink:0
    }
    .ccva2{
        flex-grow:1
    }
    .csglq{
        grid-template-columns:repeat(2,minmax(0,1fr))
    }
    .c4sqe{
        flex-direction:row
    }
    .czube{
        justify-content:space-between
    }
    .ct45g{
        padding-left:0px
    }
    .cith0{
        padding-left:1.5rem
    }
    .cxhsf{
        padding-left:16rem
    }
    .c88rp{
        padding-right:2rem
    }
    .cis1s{
        padding-top:7rem
    }
    .cn8wd{
        opacity:1!important
    }
}
@media (min-width:1024px){
    .cqfqg{
        display:inline
    }
    .curts{
        padding-left:3rem
    }
    .cirrt{
        padding-right:1.5rem
    }
}
@media (min-width:1280px){
    .ciwds{
        display:block
    }
    .cfxuc>:not([hidden])~:not([hidden]){
        --tw-space-x-reverse: 0;
        margin-right:calc(3rem*var(--tw-space-x-reverse));
        margin-left:calc(3rem*calc(1 - var(--tw-space-x-reverse)))
    }
    .c8zl0{
        padding-right:0px
    }
}
